body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


header{
    background: url(/assets/IMAGE/Careers_img/books\ cut.jpg) no-repeat center center/cover;
    height: 387px;
    display: flex;
    flex-direction: column;
    color: #333;
    margin: 0 25px;
    position: relative;
    
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 60%);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
    position: relative; 
    z-index: 1;
}

.logo a{
    color: blue;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
header nav ul{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: blue;
}
header nav ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s;
}

.menu-icon{
    display: none;
    margin-top: -22px;
}


.menu-icon i{
    font-size: 30px;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
    position: absolute;
    width: max-content;
    height: max-content;
} 


#close{
    opacity: 0;
}

.hero {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.hero h1 {
    font-size: 3rem;
    margin: 0 300px;
    color: black;
    text-align: center;
}

.content{
    margin: 50px 209px;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 50px 166px;
}

.card {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card:hover{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
}



.card .icon {
    margin-bottom: 15px;
    margin-left: -178px;
}

.card img {
    width: 40px;
    height: 40px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
    font-weight: 600;
}

.card p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.6;
    margin: 10px 0px;
}


.job-positions {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.job-positions h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    margin-left: 139px;
}

.job-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 894px;
    margin-left: 139px;
}

.job-card .job-icon {
    color: blue;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 20px;
}

.job-card img {
    width: 50px;
    height: 50px;
}

.job-card .job-info {
    flex-grow: 1;
    border-left: 1px solid #ccc;
}

.job-info h3 a{
    text-decoration: none;
    color: black;
}

.job-card h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
    font-weight: 600;
    margin-left: 20px;
}

.job-card p {
    color: #666;
    font-size: 0.9em;
    line-height: 1.6;
    margin: 0 20px;
}

.job-card .job-type {
    color: #0000ff;
}

.apply-button {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.apply-button:hover {
    background-color: #0000ff;
    color: #fff;
    border: none;
    transition: 0.4s;
}




.footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 40px 20px;
    text-align: center;
    margin-top: 90px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin: 100px 55px;
    line-height: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    line-height: 30px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #007BFF;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin: 20px 30px;
    display: flex;
    align-items: center;
}

.footer-bottom p {
    margin: 0;
}


.footer-links a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}
.footer-social{
    /*display: flex;*/
    margin: 0 200px;
    padding: 0 50px;
}
.footer-social a {
    color: #0000ff; 
    font-size: 15px;
    text-decoration: none;
    margin: 10px 6px;
   
}

.footer-social img {
    width: 14px;
    height: 24px;
}

.phrase{
    color: #007BFF;
    line-height: 40px;
    text-align: left;
}
#footer-num{
    color: #007BFF;
}






@media (max-width: 480px){
    body {
        display: flex;
        flex-direction: column; /* Aligne les éléments en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        justify-content: center; /* Centre les éléments verticalement */
        padding: 0 10px; /* Ajoute un padding pour éviter que les éléments touchent les bords */
        
    }

    header{
        margin: 0;
    }


    .logo a{
        font-size: 2.5rem;
        margin-left: -15px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin: 10px 156px;
        align-items: center;  
        gap: 90px;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: whitesmoke;
        gap: 0;
        overflow: hidden;
        margin: 0 -31%;
    }

    nav ul li{
        padding: 2px;
    }

    .menu-icon{
        display: block;
        margin-right: 15px;   
    }

    #menuList{
        transition: all 0.5s;
    }
    
   #close{
    display: block;
    opacity: 1;
   }




    .container{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .job-card{
        margin: 15px 0px 0px 0px;
        width: 90%;
    }

    .job-positions h2{
        margin-left: 89px;
    }



    .footer{
        padding: 141px 20px;
    }



    .footer-container {
        display: flex;
        flex-direction: column;
    }
    p{
        margin-top: 20px;
    }
  

    .footer-column{
        margin-top: -60px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
    }
    .footer-social{
        margin: 10px;
    }
}