body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


header{
    background: url(/assets/IMAGE/Consulting_img/rocher.jpg) no-repeat center center/cover;
    height: 387px;
    display: flex;
    flex-direction: column;
    color: #333;
    margin: 0 25px;
    position: relative;
    
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 60%);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
    position: relative; 
    z-index: 1;
}

.menu-icon{
    display: none;
    margin-top: -22px;
}


.menu-icon i{
    font-size: 30px;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
    position: absolute;
    width: max-content;
    height: max-content;
} 


#close{
    opacity: 0;
}

.logo a{
    color: blue;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

header nav ul{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: blue;
}
header nav ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s;
}

.hero {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.hero h1 {
    font-size: 3rem;
    margin: 0 300px;
    color: black;
    text-align: center;
}




.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.main-content {
    flex: 3;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}

.post-image {
    position: relative;
}

.post-image img {
    width: 100%;
    height: 547px;
    border-radius: 10px;
}

.date {
    position: absolute;
    top: 36px;
    left: 60px;
    background: #fff;
    color: #007BFF;
    padding: 10px;
    text-align: center;
    line-height: 1.2;
    box-shadow: 6px 5px 20px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#chiffre {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px 60px;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #ddd;
    height: 25px;
}

.search-bar input:focus {
    outline: none; /* Assure qu'il n'y a pas d'effet de focus */
}

.search-bar img {
    padding: 10px;
    border: none;
    border-left: 0;
    background: #ddd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 12px;
    height: 25px;
}

.recent-posts h3,
.categories h3 {
    margin-top: 0;
}

.recent-posts ul,
.categories ul {
    list-style-type: none;
    padding: 0;
}

.recent-posts li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.categories li {
    margin-bottom: 20px;
}

.categories a {
    text-decoration: none;
    color: black;
}

.categories a:hover {
    color: #007BFF;
    transition: 0.4s;
}

.recent-posts img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.recent-posts a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
}

.recent-posts a:hover {
    color: #0000ff;
    transition: 0.4s;
}

.recent-comments {
    margin-bottom: 70px;
}

.recent-comments img {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.recent-comments ul {
    padding: 0;
}

.recent-comments li {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.recent-comments li a {
    text-decoration: none;
    color: #000;
}

.recent-comments li a:hover {
    color: #0000ff;
    transition: 0.4s;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-info a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;
}

.post-info a.highlight {
    color: blue;
    font-weight: bold;
}

.post-info p {
    font-size: 0.8em;
    color: grey;
    margin: 0;
}

.post-comment {
    height: 40px;
    margin: 10px 20px;
    padding: 10px 10px;
}

.comment2 {
    width: 60px;
}

.comment3 {
    width: 120px;
}

.comments {
    font-size: 0.9em;
    color: black;
    display: flex;
    justify-content: end;
    margin-top: -27px;
}

.comments:hover {
    color: #0000ff;
    transition: 0.4s;
    cursor: pointer;
}

.tags a {
    display: inline-block;
    background: #ddd;
    color: black;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 10px;
}

.tags a:hover {
    background-color: #007BFF;
    color: #fff;
    transition: 0.4s;
}

.second {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 736px;
    width: 100%;
    margin: 40px 0;
    height: 150px;
}

.second ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.second li {
    display: flex;
    align-items: center;
    margin: 35px 50px;
}

.comment-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.after {
    display: flex;
    flex-direction: column;
}

.after h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.after p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #666;
}

.related-posts {
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.related-posts h3 {
    margin-bottom: 20px;
}

.related-post {

    display: inline-block;
    width: 30%;
    margin-right: 3.33%;
    position: relative;
}

.related-post img {
    width: 100%;
    border-radius: 10px;
}

.related-post .date2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}



.related-post p {
    margin: 10px 0 5px;
    font-size: 0.9em;
    color: black;
}

#p1{
    font-size: 1rem;
    font-weight: 900;
}

.container2 {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    overflow: hidden;
}

.container2 h3 {
    margin-bottom: 20px;
}

.commentaire {
    display: flex;
    margin-bottom: 20px;
}

.commentaire.reply {
    margin-left: 40px;
    border-top: 1px solid #ccc;
}

.commentaire-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 20px;
}

.commentaire-content {
    flex: 1;
    margin-top: 20px;
}

.commentaire-content h4 {
    margin: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.commentaire-content h4 a {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}

.commentaire-content h4 a:hover{
    color: #0000ff;
    transition: 0.4s;
}

.commentaire-content p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #666;
}

.trois{
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

#chiffre2{
    font-size: 2rem;
    font-weight: bold;
}


.leave-comment {
    padding: 20px 0px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
}

.leave-comment h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}



.leave-comment textarea {
    padding: 15px;
    margin: 10px 5px 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #f5f7fa;
    font-size: 1em;
}

.leave-comment input[type="text"]{
    padding: 15px;
    margin: 10px 5px 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #f5f7fa;
    font-size: 1em;
    height: 40px;
    width: 300px;
}

.leave-comment input[type="text"]:focus {
    outline: none; /* Assure qu'il n'y a pas d'effet de focus */
}

.leave-comment input[type="email"]{
    padding: 15px;
    margin: 10px 5px 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #f5f7fa;
    font-size: 1em;
    height: 40px;
    width: 348px
}

.leave-comment input[type="email"]{
    outline: none;
}

.leave-comment textarea {
    width: 100%;
    height: 150px;
    resize: none;
    overflow: hidden;
}

.leave-comment textarea{
    outline: none;
}

.leave-comment button[type="submit"] {
    background-color: #0000ff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.leave-comment button[type="submit"]:hover {
    background-color: #0000e6;
}

.texte{
    display: flex;
    gap: 50px;
    max-width: 800px;
}


.footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 40px 20px;
    text-align: center;
    margin-top: 90px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin: 100px 55px;
    line-height: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    line-height: 30px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #007BFF;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin: 20px 30px;
    display: flex;
    align-items: center;
}

.footer-bottom p {
    margin: 0;
}


.footer-links a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}
.footer-social{
    /*display: flex;*/
    margin: 0 200px;
    padding: 0 50px;
}
.footer-social a {
    color: #0000ff; 
    font-size: 15px;
    text-decoration: none;
    margin: 10px 6px;
   
}

.footer-social img {
    width: 14px;
    height: 24px;
}

.phrase{
    color: #007BFF;
    line-height: 40px;
    text-align: left;
}
#footer-num{
    color: #007BFF;
}


@media (max-width: 480px) {



    header{
        margin: 0;
    }


    header nav {
        display: flex;
        justify-content: space-between;
        margin: 10px 31px;
        align-items: center;  
        gap: 90px;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: whitesmoke;
        gap: 0;
        overflow: hidden;
        margin: 0 -31%;
    }

    nav ul li{
        padding: 2px;
    }

    .logo a{
        font-size: 2.5rem;
        margin-left: -15px;
    }


    .menu-icon{
        display: block;
        margin-right: 15px;
    }

    #menuList{
        transition: all 0.5s;
    }
    
   #close{
    display: block;
    opacity: 1;
   }

    .hero h1{
        margin: 0;
    }
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .main-content {
        max-width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .comments{
        margin-right: 27px;
        margin-top: -17px;
    }

    .sidebar {
        max-width: 100%;
        padding: 10px;
    }

    

    .search-bar input {
        margin-bottom: 10px;
        width: 100%;
    }

    .search-bar img{
        height: 25px;
    }

    .recent-posts li,
    .recent-comments li {
        align-items: flex-start;
    }

    .post-comment{
        margin: 0px;
    }

    .recent-posts img,
    .recent-comments img {
        width: 50px;
        height: 50px;
    }

    .tags a {
        font-size: 0.8em;
        padding: 8px;
    }

    .second,
    .trois,
    .container2,
    .leave-comment {
        padding: 15px;
        width: 90%;
    }

    .leave-comment input[type="text"],
    .leave-comment input[type="email"],
    .leave-comment textarea {
        width: 90%;
    }

    .related-posts{
        width: 90%;
        gap: 10px;
        padding: 0;
    }

    .related-post .date2{
        padding: 5px;
    }

    

    .related-post img {
        height: auto;
        width: 110%;
    }

    #deli{
        margin: 20px 5px;    
    }

    .post-image img {
        height: auto; /* Maintain aspect ratio */
        width: 90%;
        margin: 0 17px;
    }

    .commentaire-avatar {
        width: 40px;
        height: 40px;
    }

    .commentaire-content h4 {
        font-size: 0.9em;
    }

    .commentaire-content p {
        font-size: 0.8em;
    }





    .footer{
        padding: 141px 20px;
    }



    .footer-container {
        display: flex;
        flex-direction: column;
    }
    p{
        margin-top: 20px;
    }
  

    .footer-column{
        margin-top: -60px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
    }
    .footer-social{
        margin: 10px;
    }
}